.deposit-his-main{
  display: flex;
  flex-direction: column;
  width: 380px;
  height: 614px;
  background-color: #010201;
  background-size: contain;
  background-image: url("../assets/normal_bg.png");
  .header-con{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 16px;
    padding-left: 16px;
    padding-right: 16px;
    justify-content: space-between;
    .back-icon{
      width: 18px;
      height: 18px;
      object-fit: contain;
    }
    .title{
      color: white;
      font-size: 18px;
      font-weight: 700;
      font-family: Tomorrow;
    }
  }
  .list-con{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    padding-left: 16px;
    padding-right: 16px;
    max-height: 520px;
    overflow-y: scroll;
    .history-item{
      display: flex;
      flex-direction: column;
      padding: 12px;
      background-color: #384249;
      border-radius: 12px;
      margin-bottom: 10px;
      .top{
        display: flex;
        flex-direction: row;
        align-items: start;
        justify-content: space-between;
        .left{
          display: flex;
          flex-direction: row;
          align-items: start;
          .icon{
            width: 20px;
            height: 20px;
          }
          .info-cen{
            display: flex;
            flex-direction: column;
            .type-lab{
              border-radius: 4px;
              border: 1px solid #d0d0d0;
              padding: 3px 5px;
              margin-right: auto;
              color: #d0d0d0;
              font-size: 12px;
              font-weight: 400;
              margin-left: 10px;
              margin-bottom: 10px;
            }
            .txhash-con{
              display: flex;
              flex-direction: row;
              align-items: center;
              margin-left: 10px;
              margin-top: -5px;
              .txhash{
                color: white;
                font-size: 16px;
                font-weight: 600;
                max-width: 180px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
              }
              .copy-btn{
                width: 18px;
                height: 18px;
                margin-left: 5px;
              }
            }
          }

        }
        .browser-icon{
          width: 24px;
          height: 24px;
        }
      }
      .bottom-con{
        display: flex;
        flex-direction: row;
        align-items: end;
        justify-content: space-between;
        .value-con{
          display: flex;
          flex-direction: row;
          align-items: center;
          margin-left: 30px;
          margin-top: -5px;
          white-space: nowrap;
          text-overflow: ellipsis;
          .value-lab{
            color: white;
            font-size: 24px;
            font-weight: bold;
            font-family: Tomorrow;
          }
          .value-lab-out{
            color: #B05F37;
            font-size: 24px;
            font-weight: bold;
            font-family: Tomorrow;
          }
          .unit-lab{
            margin-left: 10px;
            color: white;
            font-weight: 400;
            font-size: 16px;
          }
        }
        .submit-btn{
          padding: 3px 10px;
          color: white;
          background: #2051f4;
          border-radius: 8px;
          font-size: 12px;
          font-weight: 600;
          margin-bottom: 10px;
        }
        .wait-btn{
          padding: 3px 10px;
          color: white;
          border-radius: 8px;
          font-size: 12px;
          font-weight: 600;
          margin-bottom: 10px;
          border: white 1px solid;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
        .done-btn{
          width: 18px;
          height: 18px;
          margin-bottom: 10px;
        }
      }
    }
  }
  .no-data{
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    align-items: center;
    .nodata-icon{
      width: 200px;
      height: 200px;
    }
    .nodata-lab{
      margin-top: -20px;
      color: white;
      font-size: 16px;
      font-weight: 500;
      text-align: center;
    }
  }
}
